.passport {
  width: 550px;      
  height: 750px;                
  background-image: url(Images/шаблон-паспорта.png);
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
}

#given{
    position: absolute;
    top: 20%;
    left: 10%;
}

#date-given{
  position: absolute;
  top: 34%;
  left: 9%;
}

#code{
  position: absolute;
  top: 34%;
  left: 25%; 
}

#sign{
  position: absolute;
  top: 45%;
  left: 4%; 
  width: 150px;      
  height: 90px;   
}

#my-sign{
  position: absolute;
  top: 49%;
  left: 26%; 
  width: 100px;      
  height: 60px;   
}

#surname{
  position: absolute;
  top: 75%;
  left: 23%; 
}

#name{
  position: absolute;
  top: 84%;
  left: 22.9%; 
}

#father-name{
  position: absolute;
  top: 89%;
  left: 22.7%; 
}

#sex{
  position: absolute;
  top: 93.5%;
  left: 16%; 
}

#date{
  position: absolute;
  top: 93.5%;
  left: 25%; 
}

#place{
  position: absolute;
  top: 98%;
  left: 20%; 
}

#foto{
  position: absolute;
  top: 83%;
  left: 3.3%;
  width: 140px;      
  height: 187px; 
}

#language{
  display: block;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background-color: rgb(80, 1, 1);
  border: none; 
}

#scrin{
    width: 600px;      
    height: auto; 
}